@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
  background: #ddd;
}

*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
}

/* ------------ header ------------ */
.header_content{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}
h1{
  margin-left: 5%;
}
h1 a{
  color: #000;
  text-decoration: none;
}
.main_menu{
  margin-right: 5%;
}
.main_menu ul{
  list-style: none;
}
.main_menu li{
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
}
.main_menu li a{
  display: block;
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
}
.main_menu li:hover{
  background: #ddd;
}
.main_menu ul .selected{
  background: #ddd;
}

/* ------------ content ------------ */
.container{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .home{
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 10px #00000079;
}
.container .home .child{
  float: left;
  width: 40%;
  height: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .home .child h2{
  margin: 0 5%;
  font-size: 50px;
  line-height: 60px;
}
.container .home .child:first-child{
  border-right: 5px solid silver;
}
.container .home .child:last-child{
  margin: 0 5%;
}

/* ------------ footer ------------ */
footer{
  box-sizing: border-box;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.15);
}